@media (min-width: 769px) {
    body {
        display: flex;
        height: 93.7vh;
    }

    header {
        width: 50%;
        height: 93.7vh;
    }

    .foto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16%;
    }

    main {
        width: 50%;
    }
}